@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('components/container.css');
@import url('components/avatar.css');
@import url('components/blue-bttn.css');
@import url('components/banner.css');
@import url('components/card.css');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0px;
}
h1,h2,h3{
    font-weight:bold;
    font-family: 'Lora', serif;
}
a{
	text-decoration: none;
}