.banner{
	background-image: linear-gradient(-225deg,rgba(200,0,0,0.8)0%,rgba(250,250,250,0.1)50%),url(../../images/banner.jpg);
	color: black;
	padding:  150px 0px;
	background-position: center;
}
.banner h1{
	font-size:  50px;
}
.banner h2{
	font-size:  30px;
	font-weight: lighter;
	margin-bottom: 40px;
}