.container {
	width: 1200px;
	margin:  0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin:  0 auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 520px;
    margin:  0 auto;
  }
}
@media (max-width: 540px) {
  .container {
    width: 480px;
    margin:  0 auto;
  }
}
@media (max-width: 400px) {
  .container {
    width: 290px;
    margin:  0 auto;
  }
}
@media (max-width: 200px) {
  .container{
    width: 160px;
    margin:  0 auto;
  }
}